/* SECRETS */
.secret {
    margin-top: 2em;
    color: #505050;
    font-style: italic;
}


/* ALL LINKS */
.edit, .pageturn {
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: none;
}

.pageturn:hover, .edit:hover {
    background: -moz-radial-gradient(closest-side, #70b0e080, #00000000);
}

#next.pageturn, .edit {
    float: right;
}

/* EDIT */
.edit {
    color: #706060;
}


/* PAGE TURN */
.pageturn{
    color: inherit;
    padding: 32px 32px;
    font-size: 1.5em;
}

#prev.pageturn{
    float: left;
}