.searchresult {
    margin-left: 2em;
    display: block;
    font-size: 1.1em;
    margin-top: 6px;
}

.searchheader {
    margin-top: 12px;
	border-top: #60504060;
	border-top-width: 2px;
	border-top-style: solid;
}

.searchresult:hover {
    font-weight: bold;
    color: #b03090;
}

.searchresult .chapter {
    font-size: 0.9em;
    font-weight: normal;
    color: #00000080;
}