{% load static %}
{% load wiki_extras %}

<!DOCTYPE HTML>

<html>

<head> 

    <title>Ashworld</title>
    <link rel="icon" type="image/png" href="{% static 'wiki/Phoenix.png' %}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Tangerine&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/style.css' %}"/>

    {% block head %} 
    <link rel="stylesheet" type="text/css" href="{% static 'wiki/info.css' %}"/>
    {% endblock %}

</head>

<body>

<div class="title">

    <image src="{% static 'wiki/Phoenix.png' %}" alt=""/>
    <span><h2>Gesjiklin's Encyclopedia of the</h2><h1>Ashworld</h1></span>

    <div class="passwords">
        <form action="{% url 'addpassword' %}?return={{request.path}}" method="post">
            {% csrf_token %}
            <label><h3>Password:</h3></label>
            <input name="password" type="password"/>
        </form>
        {% if passwords %}
            <h3>Passwords</h3>
            {% for password in passwords %}
                <p><a href="{% url 'removepassword' password %}?return={{request.path}}">X</a> {{ password }}</p>
            {% endfor %}
        {% endif %}
        <h3>
            <img src="{% static 'wiki/openEye.png' %}" alt="" height="16"/>
            Secrets
            <img src="{% static 'wiki/closedEye.png' %}" alt="" height="16"/>
        </h3>
    </div>
    <!--
    <p id="secrets" class="left">
        <a href="{% url 'togglesecrets' %}?return={{request.path}}">
            <img id={% if show_secrets %}"main"{% else %}"alt"{% endif %} src="{% static 'wiki/openEye.png' %}" alt="" height="16"/>
            <img id={% if show_secrets %}"alt"{% else %}"main"{% endif %} src="{% static 'wiki/closedEye.png' %}" alt="" height="16"/>
            {% if show_secrets %}
                You are viewing all secrets.
            {% else %}
                All secrets are hidden from you.
            {% endif %}
        </a>
    </p>
    -->
    <p id="datetime" class="right">
        It is presently HOUR SECTION <br/>
        Summer, 231st Year of Her Reign
    </p>
     <script src="{% static 'wiki/clock.js' %}"></script>   
     
</div>

<div class="titlebuffer"></div>

<div class="sidebar">
    <a href="{% url 'index' %}">Introduction</a>
    <a href="{% url 'map' %}">Map</a>
    <a href="{% url 'info' 'Gods' %}">Gods</a>
    <a href="{% url 'info' 'History' %}">History</a>
    <a href="{% url 'info' 'Fauna' %}">Fauna</a>
    <a href="{% url 'info' 'Magic' %}">Magic</a>
    <a href="{% url 'dictionary' %}">Tongues</a>

    <form action="{% url 'search' %}" method="get">
        <span>Search:</span>
        <button type="sumbit" class="arrowbutton">
            <img src="{% static 'wiki/arrow.png' %}" />
        </button>
        <input type="text" id="terms" name="terms"/>
    </form>

</div>

<div class="content">

    {% block content %}

    <p class="quote">
        {{ info.quote | safe}}
    </p>
    <div class="textbox">
        <h3 class="chapter">{{ info.chapter }}</h3>
        <h2>
            {% if info.is_secret and not show_secrets %}
                <spawn class="secret">There are only secrets here.</span>
            {% else %}
                {{ info.title | safe }}
                <!-- Dispalying page -->
            {% endif %}
        </h2>
        <p>
            {{ info.text | strongterms:terms }}
        </p>
        <!--- Displaying secrets -->
        {% for secret in info.infosecret_set.all %}
            {% if show_secrets or secret in unlocked_secrets %}
                <p class="secret">
                    {{ secret.text | strongterms:terms }}
                </p>
                <p class="secretfrom">
                    Revealed by: 
                    {% for password in secret.passwords %}
                        {% if password.pk in passwords %}
                            "{{ password }}"
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        {% endfor %}
        <a class="edit" href="{% url 'admin:wiki_infopage_change' info.pk %}">Edit</a>

        {% if info.map_location %}
            {% include 'wiki/map.html' %}
        {% endif %}

    </div>

    {% if info.prev_page %}
        <a id="prev" class="pageturn" href="{% url 'info' info.prev_page.pk %}">Previous Page</a>
    {% endif %}
    {% if info.next_page %}
        <a id="next" class="pageturn" href="{% url 'info' info.next_page.pk %}">Next Page</a>
    {% endif %}

    {% endblock %}

</div>

<!--Globally enable wiki-links using incomplete a-tags-->
<script src="{% static 'wiki/wikilinks.js' %}"></script>

</body>

</html>