{% load static %}

<link rel="stylesheet" href="{% static 'wiki/map.css' %}"/>

<!-- HTML to display an interacive map of the world-->
<!-- should only ever be included inside of a content div-->

<div class="mapcontainer">
    <div id="worldmap" class="map pannable">
        <image class="map" src="{% static 'wiki/map.png' %}" alt="Map"/>
        <image id="mapmarker" class="mapsticky" src="{% static 'wiki/flag.png' %}" style="width: 32px; height: 32px;" alt="X"/>

        {% for location in locations %}
            <a class="maplocation mapsticky map{{location.loc_type}} matchbackground" href="{% url 'info' location.page.pk %}"
                style="top: {{ location.y }}px; left: {{ location.x }}px ">
                <image src="
                    {% if location.loc_type == 'city' %}
                        {% static 'wiki/city.png' %}
                    {% else %}
                        {% static 'wiki/village.png' %}
                    {% endif %}
                "/>
                {{ location.title }}
                <br/>
                {% if location.note %}
                    <span class="note">({{ location.note }})</span>
                {% endif %}
            </a>
        {% endfor %}

    </div>
    <div class="blurededge matchcolortoback"></div>

</div>
<p class="note">The flag is at <span id="markerx">100</span> East, <span id="markery">100</span> South</p>

<script src="{% static 'wiki/imagePan.js' %}"></script>
<script src="{% static 'wiki/map.js' %}"></script>

{% if info and info.map_location %}
    <script>
        panTo({{ info.map_location.x }}, {{ info.map_location.y }});
    </script>
{% endif %}